* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%
}
h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 16px
}

body{
    --top-row-height:50px;

    margin: 0;
    margin-top: var(--top-row-height);
    // background: linear-gradient(#0F7CBF, #C2E0F2);
    
}
  

  .weatherIcon{
    width: 64px;
    height: 64px;
  }


  
  
  .valueButton {
    padding: 8px 12px;
    font-size: 16px;
    background-color: #f2f2f2;
    border: none;
    outline: none;
    cursor: pointer;
  }
  
  .valueButton:hover {
    background-color: #e6e6e6;
  }
  
  .valueInput {
    padding: 8px;
    font-size: 16px;
    text-align: center;
    border: 1px solid #ccc;
    outline: none;
    width: 50px;
  }
  // FONTS USED FOR THE SITE
//   @font-face {
//     font-family: candaraBoldItalic;
//     src: url(fonts/Candara_Bold_Italic.ttf);
//   }