$site-white: #ffffff;
$site-black: #000000;
$site-purple: #6c48b2;
$site-darkpurple: #543494;
$site-yellow: #e1b520;
$site-darkyellow: #d0a005;
$site-lightyellow: #ffe9a0;

$site-blue: #0F7CBF;
$site-lightblue: #b0dcf8;
$site-darkblue: #0f5e8f;


